{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": [
            "> 5% in CN"
          ],
          "uglify": true
        },
        "useBuiltIns": "entry",
        "debug": false
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}
